:root {
    --background-negro:#151314;
    --background-blanco:#ffff;
    --background-gris:#2d3a44;
    --background-multi:#124622;
    --color-f-derecho:#76150C;
    --color-f-educacion:#018BBA;
    --color-f-economia:#BA6B2D;
    --color-f-ingenieria: #533014;
    --color-f-arquitectura:#5F2718;
    --letra:'Roboto', sans-serif;
}
body {
    width: 100%;
    background-color: #FAF9F8;
}


