.header {
    background-color: var(--background-gris);
    padding: 30px;
    display: flex;
    justify-content: center;
}

html,
body {
    position: relative;
    height: 100%;
    font-family: var(--letra);
    color: #3d3d3d;
}

.section-books {
    margin: 100px 5% 0 5%
}

body {
    background-color: var(--background-blanco);
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.frase {
    margin: 5% 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section {
    margin: 3%;
}

.title-section {
    background-color: #F2F2F2;
    width: 400px;
    margin-bottom: 50px;
    text-transform: uppercase;
    padding: 20px;
    -webkit-clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
    border-left: 20px solid #FFCD00;
}

.swiper {
    width: 95%;
    padding: 20px 10px;
}

.swiper-slide {
    width: 350px;
    height: 580px;
    background-color: #F2F2F2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    border-radius: 20px;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.icons i {
    font-size: 20px;
    color: #3d3d3d;
    cursor: pointer;
    border-radius: 100%;

}

.icons i:hover{
    transition: 0.3s;
    border-radius: 100%;
    padding: 3px;
    background-color: #ffdb4d;
    

}

.icons img {
    width: 50px;
}

.product-content {
    display: flex;
    justify-content: center;
}

.product-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.product-txt h3 {
    font-size: 16px;
    color: #3d3d3d;
}

.product-txt span {
    font-size: 15px;
    color: #7e7e7e;
    font-weight: bold;
    margin: 5px;
}

.product-img {
    width: 220px;
}


.ftt-1 {
    background-color: #FFCD00;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 10px;
}

.btn-1 {
    display: inline-block;
    padding: 13px 55px;
    border: 1px solid #3d3d3d;
    border-radius: 25px;
    color: #3d3d3d;
    text-decoration: none;
    font-weight: bold;
    margin-top: 25px;
    transition: 0.5s;
}

.btn-1:hover {
    transition: 0.4s;
    border: 1px solid #FFCD00;
    background-color: #FFCD00;
}

footer {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 58%);
    margin-top: 40px;
    justify-content: center;
    text-align: center;
    padding: 2%;
}

footer img {
    width: 100px;
}